<h2>Register Here</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row field">
    <%= f.label :name, class: "col-sm-2 col-form-label col-form-label-sm" %><br />
    <div class="col-sm-10">
      <%= f.text_field :name, autofocus: true, autocomplete: "new-password", class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row field">
    <%= f.label :email, class: "col-sm-2 col-form-label col-form-label-sm"%><br />
    <div class="col-sm-10">
      <%= f.email_field :email, autocomplete: "email", class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="form-group row field">
    <%= f.label :password, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
       <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row field">
    <%= f.label :password_confirmation, class: "col-sm-2 col-form-label col-form-label-lg" %><br />
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
    </div>
  </div>

  <div class="form-group row field">
    <%= f.label :phone, class: "col-sm-2 col-form-label col-form-label-lg" %><br />
    <div class="col-sm-10">
      <%= f.text_field :phone, autocomplete: "new-password", class: "form-control form-control-lg" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :organization %>
    <%= collection_select(:organizations, :id, Organization.all, :id, :name, {:multiple => true}) %>
  </div>
  
  <div class="form-group row actions">
    <%= f.submit " Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
