<p id="notice"><%= notice %></p>

<p>
  <strong>Task title:</strong>
  <%= @task.task_title %>
</p>

<p>
  <strong>Task description:</strong>
  <%= @task.task_description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
