<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %><br>
  
    <%= form.label :technology %>
    <%= form.text_field :technology, class: 'form-control' %><br>
  
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %><br>

    <%= form.label :ptype %>
    <%= form.select :ptype, options_for_select([["Select One", ""], "Major", "Mini", "Task"]), class: 'genForm_dropBox form-control' %><br><br>
  
    <div class="actions">
      <%= form.submit class: 'btn btn-success form-control text-white' %>
    </div>
  </div>
<% end %>
