<!DOCTYPE html>
<html>
  <head>
    <title>Root</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      .navbar-nav {
    
    flex-direction: row;
}
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Project Management System', root_path, class: "navbar-brand", style: "color: blue;" %>
        </div>
    
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home',root_path, class: "nav-link marg" %></li>
          <% if current_user %>
            <li><%= link_to 'Projects',projects_path, class: "nav-link marg" %></li>
            <li><%= link_to 'Tasks',tasks_path, class: "nav-link marg" %></li>
            <li><%= link_to 'Attachments',attachments_path, class: "nav-link marg" %></li>
            <li><%= link_to 'Edit Profile',edit_user_registration_path, class: "nav-link marg" %></li>
            <li><%= link_to 'Sign Out',destroy_user_session_path, method: :delete, class: "nav-link marg" %></li>
          <% else %>
            <% if current_admin %>
              <li><%= link_to 'Sign Out',destroy_admin_session_path, class: "nav-link marg" %></li>
            <% else %>
              <li><%= link_to 'Register',new_user_registration_path, class: "nav-link marg" %></li>
              <li><%= link_to 'Sign In',new_user_session_path, class: "nav-link marg" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
     
    <div align="center">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>    
    </div>
    
    <%= yield %>
    
  </body>
</html>

